<div class="d-flex pt-2">
  <span
    >EXECUTED <strong>{{ action }}</strong></span
  >
  <app-preloader class="m-1 ml-2" [hidden]="!loader"></app-preloader>
</div>
<div [hidden]="data.length == 0">
  {{ formatedDate }} {{ myDate | date: "HH:MM:SS" }}
</div>
<ng-container *ngFor="let item of data">
  <!-- [hidden]="data.length == 0" class="result-item mt-1 py-1"
  [ngClass]="defaultColor == true ? '' : 'text-success'" -->

  <div
    *ngIf="item.type === 'DataMessage' && item.name === 'total'"
    [ngClass]="defaultColor == true ? '' : 'text-success mt-1 py-1'"
  >
    <span class="d-block"
      >Database total records: <strong>{{ item.data }}</strong></span
    >
  </div>

  <!-- <span *ngIf="item.type === 'InfoMessage'">{{ item.message }}</span>
  <span *ngIf="item.type === 'DataMessage'">
    <span class="d-block">MESSAGE: {{ item.message }}</span>
    <span class="d-block">NAME: {{ item.name }}</span>
    <span class="d-block">DATA: {{ item.data }}</span>
  </span> -->
  <div *ngIf="item.type === 'TableMessage'">
    <!-- <span class="d-block">MESSAGE: {{ item.message }}</span> -->
    <div
      [innerHTML]="processResponse2(item.message)"
      style="overflow-x: auto !important"
    ></div>
  </div>
  <div
    *ngIf="item.type === 'SuccessMessage'"
    [ngClass]="defaultColor == true ? '' : 'text-successx'"
  >
    <div class="alert alert-success mt-2">
      <span class="d-block">{{ item.message }}</span>
    </div>
  </div>

  <div
    *ngIf="item.type === 'ErrorMessage'"
    [ngClass]="defaultColor == true ? '' : 'text-danger'"
  >
    <div class="alert alert-danger mt-2">
      <span class="d-block">{{ item.message }}</span>
    </div>
  </div>
  <div
    *ngIf="item.type === 'WarningMessage'"
    [ngClass]="defaultColor == true ? '' : 'text-warning'"
  >
    <div class="alert alert-warning mt-2">
      <span class="d-block">{{ item.message }}</span>
    </div>
  </div>

  <!-- <strong>user list</strong>: 20220318224555a800x -->
</ng-container>
<div
  *ngIf="
    infoDataMessageTypeOnly && dataComplete === true && abortExecution === false
  "
>
  <div class="alert alert-success mt-2">
    <span class="d-block"
      >The <strong>{{ action }}</strong> was successfully executed.</span
    >
  </div>
</div>
<div *ngIf="abortExecution && dataComplete">
  <div class="alert alert-danger mt-2">
    <span class="d-block"
      >The <strong>{{ action }}</strong> was STOPPED.</span
    >
  </div>
</div>
