<div class="row d-flex align-items-end flex-column">
  <form (ngSubmit)="executeCommand()" id="frm-command">
    <div id="scroll-win" class="scroll bd-highlight">
      <div class="col-12">
        <nav
          aria-label="breadcrumb"
          class="border-bottom border-secondary mb-3"
        >
          <ol class="breadcrumb">
            <li
              class="breadcrumb-item"
              [innerHTML]="formatBreadcrumbs(commandName)"
            ></li>
          </ol>
        </nav>
      </div>

      <div class="col-12">
        <h2>{{ actionName }}</h2>
        <strong class="badge bg-secondary text-lg d-inline-block mb-2"
          >description</strong
        >
        <p>
          {{ action.description }}
        </p>
        <!-- <div *ngFor="let key of obj">
        {{ key }}
      </div> -->
        <div class="row">
          <div *ngFor="let item of action | keyvalue">
            <!-- {{ item.key }}:{{ item.value }} -->
            <div class="col" *ngIf="keyInArray(item.key)">
              <h4 class="text-primary">
                <strong class="badge bg-secondary text-lg">{{
                  item.key
                }}</strong>
              </h4>
              <p>{{ item.value }}</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Fields -->
      <div class="col-12 py-3 mt-3 border-top border-primary">
        <h3>
          <!-- <mat-icon class="text-primary mr-2 float-left">dns</mat-icon> -->
          <strong class="text-primary">Fields</strong>
        </h3>
        <div id="inpt-fields" class="row">
          <div
            class="col-12 mb-2 div-req"
            [attr.data-required]="item.required ? 'true' : 'false'"
            *ngFor="let item of action.fields"
          >
            <div class="card mr-2">
              <div class="card-body">
                <div class="mb-3 row mt-3">
                  <div class="field-container">
                    <div class="pl-5">
                      <label for="name" class="col-form-label"
                        ><strong>
                          {{ item.name }}
                        </strong></label
                      >
                    </div>

                    <app-dynamic-form-input
                      [controlType]="item.schema._type"
                      [key]="item.name"
                      [label]="item.schema.title"
                      [name]="item.name"
                      [desc]="item.schema.description"
                      [required]="item.required ? item.required : false"
                      [validator]="'none'"
                      [value]="getDefaultValue(item.schema.description)"
                      [pHolder]="getDatePlaceholder(item.schema.description)"
                    ></app-dynamic-form-input>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      id="btn-container"
      class="mt-auto bd-highlight pt-4 border-top border-secondary"
    >
      <button
        type="submit"
        id="btn-execute"
        class="btn btn-primary"
        color="primary"
      >
        Execute
      </button>
    </div>
  </form>
</div>
