<app-commands-header></app-commands-header>
<div id="overlay"></div>
<div class="container-fluid">
  <div class="row">
    <div id="main-container" class="col-8 border-right">
      <div class="row">
        <div id="main" class="scroll col-3 py-4">
          <!-- <app-accordion [data]="comm"></app-accordion> -->

          <div *ngIf="dataCommands.length == 0" class="alert alert-danger">
            <strong>No commands available</strong>
            <span class="d-block"
              >Please contact your system administrator.</span
            >
          </div>
          <mat-accordion>
            <mat-expansion-panel
              hideToggle
              *ngFor="let command of dataCommands | keyvalue"
            >
              <mat-expansion-panel-header
                *ngIf="
                  command.key.indexOf('_') === -1 && command.key !== 'status'
                "
              >
                <mat-panel-title>
                  <strong>{{ command.key }}</strong>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <app-actions-item
                *ngIf="command.key.indexOf('_') === -1"
                [command]="command.key"
                [actions]="command.value"
              ></app-actions-item>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
        <div class="col-9 p-4 bg-panel border-right">
          <div class="row mt-3" id="begin">
            <mat-icon class="col-md-1 text-primary mt-1 mr-2"
              >keyboard_backspace</mat-icon
            >
            <h2 class="col-md-6 pl-2">
              <span class="d-block pl-3"
                >Please select from the list of commands from left panel.</span
              >
            </h2>
          </div>
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
    <div
      id="response-panel"
      class="col-4 p-4 scroll"
      style="overflow-x: hidden !important"
    >
      <div class="row border-bottom pb-0">
        <div class="col-md-6">
          <h2>
            <mat-icon class="text-primary">comment_alt_text</mat-icon
            ><span
              class="d-inline-block"
              style="margin-left: 0.7rem !important"
            >
              Response</span
            >
          </h2>
        </div>
        <div class="col-md-6 text-right">
          <a
            id="btn-clear-responses"
            (click)="clearResponses()"
            [hidden]="responsesObj.length === 0"
            mat-button
            class="mr-1"
            >Clear</a
          >
          <a (click)="toggleFull()" mat-button matTooltip="Maximize panel"
            ><mat-icon [hidden]="fullScreen" class="text-secondary"
              >open_in_full</mat-icon
            >
            <mat-icon [hidden]="!fullScreen" class="text-secondary"
              >close_fullscreen</mat-icon
            ></a
          >
        </div>
      </div>

      <div id="response-container" class="pt-3">
        <app-response-item
          [action]="response.action"
          [formData]="response.formData"
          [loader]="true"
          *ngFor="let response of responsesObj"
        ></app-response-item>
      </div>
    </div>
  </div>
</div>
