<!-- Mobile Side navigation -->
<div id="mobile-sidenav" class="sidenav">
  <div id="mobile-sidenav-head" class="bg-primary p-3">
    <a
      href="javascript:void(0)"
      class="float-right"
      onclick="window.closeMobileNav()"
      ><i data-feather="x"><span class="sr-only">close</span></i></a
    >
    <a href="javascript://"
      ><i data-feather="home"><span class="sr-only">Home</span></i></a
    >
  </div>
  <div id="mobile-sidenav-body" class="p-3">
    <!-- Content gets inserted on small viewport -->
  </div>
  <div id="mobile-sidenav-footer">
    <!-- Content gets inserted on small viewport -->
  </div>
</div>
<!-- /. Mobile Side navigation -->

<header>
  <div id="header" class="container-fluid">
    <div class="row bg-primary">
      <div class="col pr-2 pt-0 pl-0">
        <div class="row">
          <div id="brand-container" class="col d-flex align-items-center">
            <div
              style="
                border-right: 1px solid rgba(255, 255, 255, 0.3);
                padding-right: 1rem;
                height: 40px;
              "
              class="mr-3 d-xs-block d-lg-none d-flex align-items-center"
            >
              <a
                (click)="toggleCommands()"
                id="btnToggleCommands"
                class="d-block"
                style="text-decoration: none; margin-top: 0.7rem"
                ><mat-icon>menu</mat-icon></a
              >
            </div>
            <!-- Brand -->
            <div class="d-inline-block brand">
              <span class="sr-only">Zimagi</span>
            </div>
            <!-- /. Brand -->
            <h1 class="p-0 m-0 d-none d-md-block">
              <span>Command Interface</span>
            </h1>
          </div>
        </div>
      </div>
      <div class="col d-flex flex-row-reverse">
        <div
          id="drop-user-container"
          class="d-inline-block p-2 p-sm-0 p-xs-0 p-md-0 d-md-nonex d-lg-inline-block"
        >
          <a
            class="btn btn-link d-block"
            style="margin-right: 1rem"
            (click)="logout()"
            >Logout<mat-icon id="icon-logout" class="position-absolute ml-2"
              ><span class="d-inline-block pl-3">exit_to_app</span></mat-icon
            ></a
          >
          <!-- User settings -->
          <!-- <div class="dropdown">
            <button
              class="btn dropdown-toggle text-white"
              type="button"
              id="dropdownMenuButton1"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              style="padding-left: 3rem !important"
            >
              <i class="profile-pic mr-3 d-inline-block"></i
              ><span>John Doe</span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li>
                <a class="dropdown-item" [routerLink]="['/profile']">Profile</a>
              </li>
              <li><a class="dropdown-item" [routerLink]="['/']">Logout</a></li>
            </ul>
          </div> -->

          <!-- /. User settings -->
        </div>

        <!-- <div
          id="lnk-documentation-container"
          class="d-inline-block p-2 d-md-none d-lg-inline-block"
        >
          <a id="lnk-documentation" href="#" class="btn btn-link">Help</a>
        </div> -->

        <div class="d-inline-block p-2 d-lg-none">
          <span onclick="window.openMobileNav()"
            ><i data-feather="menu"></i
          ></span>
        </div>
      </div>
    </div>
  </div>
</header>
<div id="mobile-platform-name" class="container-fluid d-none">
  <div class="row border-bottom border-primary">
    <div class="col-12 p-3">
      <div class="col px-5">
        <!--Head Platform title will be moved here-->
      </div>
    </div>
  </div>
</div>
